<!DOCTYPE html>
<html lang="en" style="filter:invert(1);">

<head>
    <meta charset="utf-8">
    <title>BeLow - Collectif</title>
    <link rel="stylesheet" href="../style3.css">
    <link rel="stylesheet" href="backoffice.css">

    <script src="script.js" defer></script>

    <link href="https://fonts.googleapis.com/css?family=ABeeZee&display=swap" rel="stylesheet">
    <script src="../vue.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=0.65, shrink-to-fit=no">
</head>

<body>
    <div id="app-admin-below">
        <div v-if="!token" id="login" v-on:keyup.enter="login">
            <table>
                <tr>
                    <td><input name="username" id="username" placeholder="Jean Pierre Coffe" v-model="creds.username" />
                    </td>
                </tr>
                <tr>
                    <td><input type="password" id="password" v-model="creds.password" /></td>
                </tr>
                <tr>
                    <td><button v-on:click="login">Ok</button></td>
                </tr>
            </table>

        </div>

        <div v-if="currentSection === 'events' && token">
            <div id="add-event">
                <p>Ajout d'un évenement</p>
                <input name="event-name" id="event-name" placeholder="Bamboche #1" v-model="event.name" required />

                <label for="event-date-day">J</label>
                <select name="event-date-day" id="event-date-day" v-model="event.day" required>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                    <option value="17">17</option>
                    <option value="18">18</option>
                    <option value="19">19</option>
                    <option value="20">20</option>
                    <option value="21">21</option>
                    <option value="22">22</option>
                    <option value="23">23</option>
                    <option value="24">24</option>
                    <option value="25">25</option>
                    <option value="26">26</option>
                    <option value="27">27</option>
                    <option value="28">28</option>
                    <option value="29">29</option>
                    <option value="30">30</option>
                    <option value="31">31</option>
                </select>

                <label for="event-date-month">M</label>
                <select name="event-date-month" id="event-date-month" v-model="event.month" required>
                    <option value="1">janvier</option>
                    <option value="2">février</option>
                    <option value="3">mars</option>
                    <option value="4">avril</option>
                    <option value="5">mai</option>
                    <option value="6">juin</option>
                    <option value="7">juillet</option>
                    <option value="8">août</option>
                    <option value="9">septembre</option>
                    <option value="10">octobre</option>
                    <option value="11">novembre</option>
                    <option value="12">décembre</option>
                </select>
                <label for="event-date-year">A</label>

                <select name="event-date-year" id="event-date-year" v-model="event.year" required>
                    <option value="2024">2024</option>
                    <option value="2023">2023</option>
                    <option value="2022">2022</option>
                    <option value="2021">2021</option>
                    <option value="2020">2020</option>
                    <option value="2019">2019</option>
                    <option value="2018">2018</option>
                    <option value="2017">2017</option>
                </select>

                <button v-on:click="addEvent">Ajouter</button>
            </div>

            <div id="del-event">
                <table class="section" id="events">

                    <tr v-for="event in events" v-bind:class="{future : event.future}">
                        <td>{{event.hdate}}</td>
                        <td>{{event.name}}</td>
                        <td><button v-on:click="deleteEvent(event)">Supprimer</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>

</html>