{% set albums = _o_["glob"]("media/pics/sceno_*", kind="folder") %}
<div class="sceno-title sceno-random-title">
    <p>Au hasard</p>
    <button class="sceno-random-refresh" type="button" aria-label="Rafraîchir la sélection">↻</button>
</div>
<div class="sceno-random-gallery" aria-label="Au hasard"></div>
{% for index in range(999, -1, -1) %}
{% for album in albums %}
{% if album["name"].startswith("sceno_" ~ index ~ "_") and has_images(album["path"]) == "True" %}
    {% set description = _o_["read_file"](album["path"] + "/description.txt", default="") %}
    {% set copyright = _o_["read_file"](album["path"] + "/copyright.txt", default="") %}
    {% if description or copyright %}
    <div class="sceno-title">
        {% if description %}
        <p> {{ description }} </p>
        {% endif %}
        {% if copyright %}
        <p>&copy; {{ copyright }} </p>
        {% endif %}
    </div>
    {% endif %}
    {{ render_image_gallery(album["path"], "sceno-img-wrapper") }}
{% endif %}
{% endfor %}
{% endfor %}
